1. change the api to create the transaction on just the item id
2. do the new addto bill post request with the required data
3. do the final transaction
4 api for create a closing transaction and to reset the transaction